* {
    box-sizing: border-box;
}

body {
}

.container {
    min-height: 100vh;

}

.wrapper {
    position: relative;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #87cefa;
    color: whitesmoke;
    text-align: center;
    font-size: smaller;
    height: 50px;
}